/*Google fonts here*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/

/* Global css section*/
html{
	scroll-behavior: smooth;
}

*{
	margin: 0;
	padding: 0;
}
header{
	width: 100%;
	background: #000;

}
.nav-link{
	color: #fff !important;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	transition: 0.5s ease-in-out;
}
.nav-link:hover{
	color: #ff8b38 !important;
	transition: 0.5s ease-in-out;
}
.nav-item{
	margin-left: 20px;
}
.navbar{
	padding: 16px !important;
}

/*Banner section css here*/
.banner{
	width: 100%;
	background: url(../img/banner.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.banner-text{
	height: 90vh;
	display: table-cell;
	vertical-align: middle;
}
.banner-text h1{
	font-family: 'Raleway', sans-serif;
	color: #fff;
	font-weight: 400;
	font-size: 36px;
	margin: 20px 0;
}
.banner-text .line{
	width: 70px;
	height: 1.5px;
	background: #fff;
	margin: 32px 0;
}
.banner-text p{
	color: #cccac9;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	margin-bottom: 35px;
}
.banner-text button{
	padding: 12px 30px;
	border: 2px solid #fff;
	background: transparent;
	color: white;
}
.banner-text button:hover{
	background: #fff;
	color: black;
}
.banner-form{
	height: 90vh;
	display: table-cell;
	vertical-align: middle;
}
.banner-form .form-body{
	/*background: #fff;*/
	margin-left: 135px;
}
.banner-form .form-group{
	margin: 20px 0 !important;
}
.banner-form .card{
	border: none;
	border-radius: 5px;
}
.banner-form .card-header{
	padding: 1rem 1.5rem !important;
	background: #f5f5f5 !important;
	border: 1px solid #f5f5f5;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
}

.banner-form .card-header h3{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}
.banner-form .card-header h3 span{
	color: #ff9b51 !important;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}
.banner-form .card-footer{
	padding: 1rem 1.5rem !important;
	background: #ff9b51 !important;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}
.banner-form .card-footer input{
	background: transparent;
	border: none;
	padding: 5px 25px;
	color: white;
}
.banner-form .card-body{
	background: #fff;
	padding: 24px 32px !important;
}
.banner-form .card-body input{
	background: transparent;
	border: none;
	border-bottom: 1px solid #cccccc;
	border-radius: 0;
}
.banner-form .card-body input:focus{
	outline: none;
	box-shadow: none;
}
/*social section css here*/
.social-section{
	width: 100%;
	padding: 40px 0 20px 0;
	box-shadow: 0px 2px 6px #b7b7b7;
}
.social-section ul{
	margin-top: 18px !important;
}
.social-section ul li{
	list-style: none;
	display: inline-block;
	margin-left: 40px;
}
.social-section .col-md-5{
	text-align: left;
	font-family: 'Open Sans', sans-serif;
}
.social-section .col-md-5 h3{
	font-weight: 650;
}
.social-section .col-md-5 p{
	font-weight: 300;
	color: #a4a5a8;
}
.social-section .col-md-7{
	text-align: right;
}
.social-section .col-md-7 ul li a i{
	font-size: 50px;
	color: #cccccc;
}

/*Feature section css here*/
a, a:hover{
	text-decoration: none;
}
/*Feature-1*/
.feature-1{

	padding: 80px 0px;
	background-color: #f5f5f5;
	box-shadow: 0px -1px 2px 1px rgba(0,0,0,0.2);
}
.feature-1 ul li:hover{
	background: #ff8b38 !important;
	transition: 0.5s ease-in-out;
	cursor: pointer;
	
	}
.feature-1 ul li{
	list-style: none;
	height: 90px;
	width: 100px;
	background: #333333;
	border-bottom: 1px solid white;
	text-align: center;
	line-height: 90px;
	transition: 0.5s ease-in-out;
} 
.feature-1 ul li {
	color: white;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;

}
.active{
	background: #ff9b51 !important;
}

.tab-1{
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.tab-3{
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.feature-1 h4{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}
.feature-1 p{
	color: #86878b;
	font-size: 14px;
	margin: 30px 0;
}
.feature-1 button{
	padding: 12px 20px;
    border: 1px solid #ff8b38;
    font-family: 'Open Sans', sans-serif;
    color: white;
    background: #ff8b38;
    border-radius: 4px;
    transition: 0.5s ease-in-out;

}
.feature-1 button:hover{
	color: white;
	background: black;
	border: 1px solid black;
	transition: 0.5s ease-in-out;
}
.feature-1 .col-md-6{
	padding: 0 44px;
}
.feature-1 .col-md-2{
	display: flex;
	align-items: center;
}
.feature-1 .col-md-4{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

/*Feature-2 css*/
.feature-2{
	width: 100%;
	padding: 120px 0;
}
.feature-2 h5{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: #212121;
}
.feature-2 p{
	color: #86878b;
}
.feature-2 .line{
	width: 80px;
	height: 3px;
	background: #ff8b38;
	margin: 30px 0;

}

.feature-2 .col-md-2{
	text-align: right;
}
.feature-2 a i{
	height: 50px;
	width: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 26px;
	border: 2px solid #fe8d3a;
	border-radius: 100%;
	color: #fe8d3a;
}
.feature-2 i:hover{
	background: #fe8d3a;
	color: white;
}
.feature-2 h6{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}
.feature-2 .col-md-6 .row{
	margin-top: 40px;
}
.feature-2 .feature-img{
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

/*Feature-3 css*/
.feature-3{
	width: 100%;
	background: #f5f5f5;
	padding: 120px 0;
}
.feature-3 h5{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: #212121;
}
.feature-3 .line{
	width: 80px;
	height: 2px;
	background: #ff8b38;
	margin: 30px 0;

}
.feature-3 p{
	color: #86878b;
}

/*About us section css*/
.about-us{
	width: 100%;
	padding: 120px 0;
	text-align: center;
}
.about-us .title{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	text-transform: uppercase;

}
 .about-us .line{
	width: 80px;
	height: 2px;
	background: #ff8b38;
	margin: 30px auto;

}
.about-us .row p{
	color: #a4a5a8;
}
.about-us a i{
	height: 70px;
	width: 70px;
	text-align: center;
	line-height: 70px;
	font-size: 26px;
	border: 2px solid #fe8d3a;
	border-radius: 100%;
	color: #fe8d3a;
}
.about-us i:hover{
	background: #fe8d3a;
	color: white;
}
.about-us h5{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	margin: 20px 0;
}
.about-us .service{
	margin: 60px 0;
}

/*Pricing section css*/

.pricing{
	width: 100%;
	padding: 120px 0;
	text-align: center;
	background: #f5f5f5;
}
.pricing .title{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	text-transform: uppercase;

}
 .pricing .line{
	width: 80px;
	height: 2px;
	background: #ff8b38;
	margin: 30px auto;

}
.pricing .row p{
	color: #a4a5a8;
}

.pricing .price{
	margin-top: 80px;
}
.price .card-header{
	background: #333333;
	border-bottom: 1px solid white;
	border-radius: 0;
}
.price .card-header h5{
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}
.pricing .card-body{
	background: #333333;
	border-bottom: 7px solid #ff8b38 !important;
}

.price .card-body h1{
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}
.price .card-body h1 span{
	font-size: 110px;
}
.price .card-body p{
	color: #999999;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-style: italic;
}
.price .card-footer{
	padding: 0 !important;
}
 .price .card-footer ul{
 	margin: 0;
 }

 .price .card-footer ul li{
	list-style: none;
	text-transform: uppercase;
	padding: 10px 0;
	background: #fff;
	color: #86878b;
	border-bottom: 2px solid #f5f5f5;
}
.price .card{
	border-radius: 0;
	border: none;
	
}
.price .card:hover{
	box-shadow: 3px 3px 20px 0px rgba(0,0,0,0.3);
}
.price .card-body .extra{
	background: #ff8b38;
}
.price .card-body .extra p{
	margin: 0;
	color: white !important;
	padding: 10px 0;
	font-style: normal;
	text-transform: uppercase !important;
}
.price .item-2 .card-body{
	padding: 0;
	border: none;
}
.price .item-2 .card-body .middle{
	padding: 1.25rem;
}
.pricing .row{
	align-items: flex-end;
}

/*Comments section css here*/
.comments{
	width: 100%;
	padding: 120px 0;
	background: white;
	text-align: center;
}
.comments .title{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	text-transform: uppercase;

}
 .comments .line{
	width: 80px;
	height: 2px;
	background: #ff8b38;
	margin: 30px auto;

}
.comments .row p{
	color: #a4a5a8;
}
.box{
	background: #f5f5f5;
	position: relative;
}
.row .box p{
	color: #8d8e92;
	font-style: italic;
	padding: 20px 18px;
	text-align: left;

}
.box .icon-box{
	width: 30px;
	height: 30px;
	background: #f5f5f5;
	position: absolute;
	bottom: -15px;
	left: 40px;
	transform: rotate(45deg);
}
.user{
	margin-top: 32px;
}
.user .col-md-4{
	padding: 0;
}
.user .col-md-8{
	text-align: left;
	padding: 0;
}
.user-comment{
	margin-top: 50px;
}
.user-comment .col-md-4{
	padding-left: 40px;
	padding-right: 40px;
}
/*Axure Design css here*/
.axure{
	width: 100%;
	background: url(../img/design.png);
	text-align: center;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 50px 0;
}
.axure .title{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	color: white;

}
 .axure .line{
	width: 80px;
	height: 2px;
	background: white;
	margin: 30px auto;

}
.axure .row p{
	color: white;
	font-family: 'Raleway', sans-serif;
	font-weight: 170;
}
.axure button{
	padding: 12px 30px;
	border: 2px solid #fff;
	background: transparent;
	color: white;
	margin-top: 20px;
}
.axure button:hover{
	background: #fff;
	color: black;
}
.axure .row{
	padding: 50px 0;
}

/* Contact us css here*/
.contact-us{
	width: 100%;
	padding: 120px 0;
	background: white;
	text-align: center;
}
.contact-us .title{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	color: #212121;

}
 .contact-us .line{
	width: 80px;
	height: 2px;
	background: #ff8b38;
	margin: 30px auto;

}
.contact-us .row p{
	color: #86878b;
	font-family: 'Open Sans', sans-serif;
	font-weight: 170;
}
.contact-us .form-control{
	border: none;
	border-bottom: 1px solid #d6d6d6;
	border-radius: 0;
}
.contact-us input::placeholder{
	color: #d6d6d6;
}
.contact-us .form-control:focus{
	outline: none;
	box-shadow: none;
}
.contact-form{
	margin-top: 40px;
}
.contact-us .form-group{
	margin: 34px 0;
}
.contact-form .col-md-6{
	padding: 0 30px !important;
}
.contact-form textarea{
	width: 100%;
	color: #d6d6d6;
}
.contact-btn{
	text-align: center;
}
.contact-btn .btn-primary{
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	padding: 12px 30px;
	border: 1px solid #ff9b51;
	background: #ff9b51;
	color: white;
	margin-top: 15px;
	transition: 0.5s ease-in-out;
}
.contact-btn .btn-primary:hover{
	border: 1px solid black;
	background: black;
	color: white;
	transition: 0.5s ease-in-out;
}
/*footer section css here*/
.footer{
	width: 100%;
	background: #000000;
	text-align: center;
}
.footer .footer-icon ul li{
	list-style: none;
	display: inline-block;
	margin-left: 40px;
}
.footer .col-md-12 ul li a i{
	font-size: 50px;
	color: white;
}
.footer .col-md-12{
  padding-top:25px;
  padding-bottom: 15px;
}
.footer p{
	color: #808080;
	margin-bottom: 0;
	font-family: 'Open Sans', sans-serif;
}
.sticky{
	position: fixed;
	z-index: 9999;
}